In [10]:
#  string functions and examples 
c = 'sushmitha'
c.capitalize()# capitalize will capitalize the first letter of string

'Sushmitha'

In [4]:
# isdigit() checks whether it is a digit
c = 'sushm78'
c.isdigit()

False

In [12]:
# isdigit() checks whether it is a digit
c = '578'
c.isdigit()

True

In [5]:
# lower() will lower the first letter of string
c = 'Sush'
c.lower()

'sush'

In [8]:
# isdigit() checks whether it is a digit
c = '123'
c.isdigit()

True

In [13]:
# isdigit() checks whether it is a digit
c = 'sush'
c.isdigit()

False

In [6]:
# isalnum() checks whether the string has numbers or alphabets
c = 'sush56'
c.isalnum()

True

In [15]:
# isalnum() checks whether it has number or alphabet
c = 'sush'
c.isalnum()

True

In [3]:
# isalnum() checks whether string consist of number
c = 'sush96'
c.isalnum()

True

In [14]:
# isalnum() checks whether string consist of number
c = '578'
c.isalnum()

True

In [15]:
# isalnum() checks whether string consist of number
c = 'sush'
c.isalnum()

True

In [25]:
# islower() checks whether it is lower 
c = 'THIS is sushmitha'
c.islower()

False

In [16]:
# islower() checks whether it is lower
c = 'this is sushmitha'
c.islower()

True

In [27]:
# islower() checks whether it is lower
c = ' is sushmitha'
c.islower()

True

In [30]:
#isnumeric() checks whether it is numeric 
c = 'sushm89'
c.isnumeric()

False

In [17]:
#isnumeric() checks whether it is numeric 
c = '7996'
c.isnumeric()

True

In [32]:
#isspace() checks whether it has space
c = 'sushma'
c.isspace()

False

In [18]:
#isspace() checks whether it has space
c = ' '
c.isspace()

True

In [34]:
#isspace() checks whether it has space
c = 'sushm goud'
c.isspace()

False

In [37]:
# checks tilte it shows false because the title first every letter should be capital
c = 'game of thrones'
c.istitle()

False

In [39]:
#  istitle() checks whether it is title it has title
c = 'Game Of Thrones'
c.istitle()

True

In [40]:
# len() calculates the len of string
c = 'sush is eating'
len(c)

14

In [7]:
# len() calculates the len of string
c = 'sush is cooking'
len(c)

15

In [20]:
# splitlines will make braces 
c = 'sushmitha'
c.splitlines()

['sushmitha']

In [22]:
# splitlines will make braces 
c = '578'
c.splitlines()

['578']

In [25]:
# splitlines will make braces 
c = 'this is sushmitha96'
c.splitlines()

['this is sushmitha96']

In [29]:
#strip() gives the same string value
c = 'sush80'
c.strip()

'sush80'

In [32]:
#strip() gives the same string value
c = '890'
c.strip()

'890'

In [34]:
#swapcase() will change lower to upper case and viseversa
c = 'this is sushmitha'
c.swapcase()

'THIS IS SUSHMITHA'

In [36]:
#swapcase() will change lower to upper case and viseversa
c = 'THIS IS SUSHMITHA'
c.swapcase()

'this is sushmitha'

In [5]:
# casefold() coverts to case folded sting thai is upper to lower lower to upper
c = ' This is Sushmitha'
c.casefold()

' this is sushmitha'

In [17]:
# centre() will centre the string according to the arugment 
c = 'this is sushmitha'
c.center(100)

'                                         this is sushmitha                                          '

In [25]:
#encode() returns the encoded string of given string
c = 'sushmitha'
c.encode()

b'sushmitha'

In [23]:
# endswith() checks if the string ends with specified suffix
c = 'sushmitha'
c.endswith('sushmitha')

True

In [36]:
# expandtabs() replaces tab character with spaces
c = 'sushmitha'
c.expandtabs()

'sushmitha'

In [44]:
# returns the index of the specified string that is we mentioned (i) so it returns 5
c = 'sushmitha is sushmitha'
c.find('i')

5

In [46]:
# format () wil  format the string in to nicer output
c = 'Sushmitha'
c.format()

'Sushmitha'

In [48]:
# format_map()  will formats string  using dictionary
c = 'sushmitha'
c.format_map('s')

'sushmitha'

In [50]:
# index() will give the index value of the letter we given
c = 'sushmitha'
c.index('s')

0

In [52]:
# isdecimal() gives whether is it a decimal or not
c = 'sushmitha0,87'
c.isdecimal()

False

In [54]:
c = 's0.56'
c.isdecimal()

False

In [55]:
#isidentifier() checks for valid identifier
c = 'sushmitha'
c.isidentifier()

True

In [57]:
# isprintable() checks for printable character
c ='sush'
c.isprintable()

True

In [63]:
#join() used to return a concatenated string
c = 'sushmitha is cooking'
c.join('sushmitha is cooking')

'ssushmitha is cookingusushmitha is cookingssushmitha is cookinghsushmitha is cookingmsushmitha is cookingisushmitha is cookingtsushmitha is cookinghsushmitha is cookingasushmitha is cooking sushmitha is cookingisushmitha is cookingssushmitha is cooking sushmitha is cookingcsushmitha is cookingosushmitha is cookingosushmitha is cookingksushmitha is cookingisushmitha is cookingnsushmitha is cookingg'

In [67]:
c = '45678'
c.join('45678')

'4456785456786456787456788'

In [117]:
# rjust returns left justified string of given width
c = '6789678'
c.ljust(8)

'6789678 '

In [90]:
#c = 'sushmitha'
#c.maketrans('s')

In [88]:
# partition() returns a tuple and should consist of atleast one argument
c ='sushmitha'
c.partition('s')

('', 's', 'ushmitha')

In [102]:
# replace() replace substring inside stringc
c ='5678'
c.replace('56','78')

'7878'

In [100]:
c = 'sushmitha is eating'
c.replace('sushmitha','eating')

'eating is eating'

In [105]:
#rfind() returns the highest index of substring
c = 'sushmitha is eating'
c.rfind('u')

1

In [113]:
# rjust returns right justified string of given width
c = '67889'
c.rjust(9)

'    67889'

In [120]:
#rpartition() returns a tuple
c = 'sushmitha'
c.rpartition('s')

('su', 's', 'hmitha')

In [121]:
#splits string from right
c = 'sushmitha'
c.rsplit()

['sushmitha']

In [122]:
c = '5678'
c.rsplit()

['5678']

In [125]:
# rstrip() removes trailing characters
c = 'Sushmitha'
c.rstrip()

'Sushmitha'

In [126]:
c = 'Sushmitha is dancing'
c.rstrip()

'Sushmitha is dancing'

In [127]:
# splitlines() split string at line boundaries
c = 'Sushmitha'
c.splitlines()

['Sushmitha']

In [131]:
# startwith() checks if string start with the specified string if (s)in the sushmitha word is capital and mentioned the same 's' in method it shows true if not false
c = 'Sushmitha'
c.startswith('S')

True

In [133]:
# removes both leading and trailing characters
c = 'Sushmitha'
c.strip()

'Sushmitha'

In [134]:
# swapcase() swap uppercase character to lower case viceversa
c = 'Sushmitha'
c.swapcase()

'sUSHMITHA'

In [137]:
# translate() returns mapped charactered string
c = 'SUshmitha'
c.translate('U')

'SUshmitha'

In [143]:
# zfill() returns a copy of string padded with zero
c = '34567890'
c.zfill(3)

'34567890'

In [39]:
# LIST FUNCTIONS EXAMPLES
#[2]will display the value which  is located at index 2
names = ['sush','mahi','vini']
names[2]

'vini'

In [44]:
#append() will add the values
names = ['sush','mahi','vini']
names.append('niha')
names

['sush', 'mahi', 'vini', 'niha']

In [46]:
#reverse() will reverse the list
names = ['sush','mahi','vini']
names.reverse()
names

['vini', 'mahi', 'sush']

In [48]:
#pop() will pop out the value which is there at particular index if not it will pop out last value
names = ['sush','mahi','vini']
names.pop()
names

['sush', 'mahi']

In [145]:
# extend() splits the each letter given in the method it should have atleast one argument
names = ['sush','mahi','vini']
names.extend('niha')
names

['sush', 'mahi', 'vini', 'n', 'i', 'h', 'a']

In [50]:
#pop() will pop out the value which is there at particular index if not it will pop out last value
names = ['sush','mahi','vini']
names.pop(0)
names

['mahi', 'vini']

In [52]:
# remove() will remove the values in the list
names = ['sush','mahi','vini']
names.remove('sush')
names

['mahi', 'vini']

In [54]:
#sort() used to sort the the values according to alphabatic way
names = ['sush','mahi','vini']
names.sort()
names

['mahi', 'sush', 'vini']

In [56]:
#sort() used to sort the the values according to alphabatic way
names = ['sush','mahi','vini','niha','durga','shivani','priya']
names.sort()
names

['durga', 'mahi', 'niha', 'priya', 'shivani', 'sush', 'vini']

In [58]:
# insert used to insert soe value at end or at particular index
names = ['sush','mahi','vini']
names.insert(1,'niha')
names

['sush', 'niha', 'mahi', 'vini']

In [62]:
# index will show the index num of that particular value
names = ['sush','mahi','vini']
s = names.index('mahi')
print(s)

1

In [73]:
# copy will copy the older list values to new list
names = ['sush','mahi','vini']
s = names.copy()
s

['sush', 'mahi', 'vini']

In [75]:
# clear used to clear values
names = ['sush','mahi','vini']
names.clear()
names

[]

In [82]:
# del() used to delet the value by specifying the index no
names = ['sush','mahi','vini']
del names[1]
names

['sush', 'vini']

In [82]:
# count() will count how many times a value has repeated
names = ['sush','mahi','vini']
s = names.count('mahi')
print(s)

1

In [81]:
# count() will count how many times a value has repeated
num = [1,3,8,9,4,8,0,4,6,7,8,8,8]
s = num.count(8)
print(s)

5

In [95]:
# min() will display min value
names = ['sush','mahi','vini']
print(min(names))

mahi

In [97]:
# max will display max value
names = ['sush','mahi','vini']
print(max(names))

vini

In [99]:
# min() will display min value
num = [1,3,8,9,4,8,0,4,6,7,8,8,8]
print(min(num))

0

In [101]:
# max will display max value
num = [1,3,8,9,4,8,0,4,6,7,8,8,8]
print(max(num))

9

In [103]:
# type() displya which type it is
names = ['sush','mahi','vini']
type(names)

list

In [1]:
# len will display how much length it is
names = ['sush','mahi','vini']
len(names)

3

In [4]:
# tuple function examples
# min() will give minimum value
num = (2,6,7,9,4)
print(min(num))

2

In [7]:
# max will give the maximum value
num = (3,6,8,9,8,9,3,5,10,34)
print(max(num))

34

In [9]:
# len will give the length of list
num = (3,6,8,9,8,9,3,5,10,34)
len(num)

10

In [23]:
# index gives index value
num = (5,8,9,5,3,2)
num.index(8)

1

In [25]:
# count() gives how many times a value repeated
num =(3,7,8,5,7,3,6,6,7,9,5,6,6,)
num.count(3)

2

In [27]:
num = (3,7,8,5,7,3,6,6,7,9,5,6,6,)
num.count(6)

4

In [29]:
# dictionary examples
#len() gives length of dictionary
details = {'name' : 'sushmitha', 'age' : 25, 'phno' : 467456789}
len(details)

3

In [33]:
# del( ) used to delet value
details = {'name' : 'sushmitha', 'age' : 25, 'phno' : 467456789}
del details['age']
details

{'name': 'sushmitha', 'phno': 467456789}

In [35]:
#items() used to display all items in dict
details = {'name' : 'sushmitha', 'age' : 25, 'phno' : 467456789}
details.items()

dict_items([('name', 'sushmitha'), ('age', 25), ('phno', 467456789)])

In [37]:
# key() display all keys
details = {'name' : 'sushmitha', 'age' : 25, 'phno' : 467456789}
details.keys()

dict_keys(['name', 'age', 'phno'])

In [148]:
#setdefault() insert keys with a value if key is not present and it should have atleast one argument
details = {'name' : 'sushmitha', 'age' : 25, 'phno' : 467456789}
details.setdefault('add','uppal')

'uppal'

In [39]:
# values() display all values of dic
details = {'name' : 'sushmitha', 'age' : 25, 'phno' : 467456789}
details.values()

dict_values(['sushmitha', 25, 467456789])

In [41]:
#type() give what function it is
details = {'name' : 'sushmitha', 'age' : 25, 'phno' : 467456789}
type(details)

dict

In [45]:
# copy() used to copy older dictionary values to newer one
details = {'name' : 'sushmitha', 'age' : 25, 'phno' : 467456789}
newdetails = details.copy()
print(details,newdetails)

{'name': 'sushmitha', 'age': 25, 'phno': 467456789} {'name': 'sushmitha', 'age': 25, 'phno': 467456789}

In [51]:
# updating the dictionary
details = {'name' : 'sushmitha', 'age' : 25, 'phno' : 467456789}
details['age'] = 26
details['age']

26

In [70]:
# updating the dictionary
details = {'name' : 'sushmitha', 'age' : 25, 'phno' : 467456789}
details.update(age = 26)
details

{'name': 'sushmitha', 'age': 26, 'phno': 467456789}

In [68]:
# del() used to delet 
details = {'name':'sushmitha','age':25,'phno':3456789087654}
del details['name']
details

{'age': 25, 'phno': 3456789087654}

In [71]:
#type() used to display which type it is
details = {'name':'sushmitha','age':25,'phno':3456789087654}
type(details)

dict

In [73]:
#numbers example
#pow() gives power of two numbers
pow(9,6)

531441